    body{
    	font: 12px arial;
    	padding: 0;
    	margin: 0;
    }

    header{
        height: 23px;
        margin-top: 19px;
    }

    header nav{
        position: relative;
    	width: 420px; 
    	float: right;
        line-height: 23px;
    }

    header nav a{
    	margin-right: 15px;
        color: #000;
    }

    header a:last-child{
        position: absolute;
        display: inline-block;
        top: 0;
        right: 10px;
        width: 60px;
        height: 23px;
        margin-right: 10px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        line-height: 23px;
        background: #38f;
    }



    /*主体部份*/ 
    content{
        display: block;
    	text-align: center;
    	padding: 200px;
        font-size: 0;
    }

    content img{
    	width: 270px; 
    	height: 129px;
    }

    content input{
    	width: 550px;
    	height: 34px;
    }

    content button{
    	width: 100px;
    	height: 40px;
        background-color: #38f;
        border: none;
        color: #fff;
    }



    /*底部部分*/
    footer{
    	padding-top: 50px;
    }

    footer p{
    	text-align: center;
    }
