doctype html
html(lang="en")
    head
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title &#x767E;&#x5EA6;&#x65B0;&#x95FB;
        link(rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel='stylesheet', type='text/css', href='/css/index.css')
    body
        header
            p
                百度新闻业
            nav
                ul(class="nav nav-tabs" role="tablist")
                    li(role="presentation" class="active")
                        a(href="#home" role="tab" data-toggle="tab")
                            精选
                    li(role="presentation")
                        a(href="#baijia" role="tab" data-toggle="tab")
                            百家
                    li(role="presentation")
                        a(href="#bendi" role="tab" data-toggle="tab")
                            本地
                    li(role="presentation")
                        a(href="#pic" role="tab" data-toggle="tab")
                            图片
                    li(role="presentation")
                        a(href="#yule" role="tab" data-toggle="tab")
                            娱乐
                    li(role="presentation")
                        a(href="#shehui" role="tab" data-toggle="tab")
                            社会
                    li(role="presentation")
                        a(href="#jushi" role="tab" data-toggle="tab")
                            军事
                    li(role="presentation")
                        a(href="#male" role="tab" data-toggle="tab")
                            女人
                    li(role="presentation")
                        a(href="#hulianwang" role="tab" data-toggle="tab")
                            互联网
        content
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="home")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="baijia")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="bendi")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="pic")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="yule")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="shehui")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="jushi")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="male")
            div(class="tab-content")
                div(role="tabpanel" class="tab-pane active" id="hulianwang")
        script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
        script(src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js")
        script(type="text/javascript" src="java/jax.js" )