
*{
	padding: 0;
	margin: 0;
}

section,
div,
aside,
span,
article,
ul,
li,
ol,
form,
th,
tr,
td,
dt,
dd,
dl,
p,
header,
footer,
a,
i,
iframe{
	box-sizing: border-box;
}

ul,
li,
ol,
a{
	list-style-type: none;
	text-decoration: none;
}
input[type=button]{
	border: none;
	box-shadow: none;
	box-sizing: border-box;
}