header p {
  height: 20px;
  font-size: 20px;
}
header nav a {
  top: 0;
  background-color: #0069e9;
  color: #fff;
}
.section {
  position: relative;
  padding: 15px;
}
.section .title {
  height: 20px;
  text-align: left;
  font-size: 20px;
}
.section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section div img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  width: 80px;
  height: 80px;
  margin: 0 10px;
}
.section div section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  overflow: hidden;
}
.section .time {
  height: 12px;
  text-align: right;
}
