	    body{
	    	padding: 0;
	    	margin: 0;
	    }

	    .eight{
	    	background: rgb(244, 233, 22);
	    	color: rgb(179, 22, 244);
	    	font-size: 70px;
	    	line-height: 90px;
	    	flex: 1;
	    	-webkit-flex: 1;
	    	-moz-flex: 1;
	    	-o-flex: 1;
	    	-ms-flex: 1;
	    }

	    .header{
	    	height: 90px;       
            display: flex;
            text-align: center;
            min-width: 1000px;
	    }

	    .name{
	    	font-size: 70px;
	    	color: rgb(244, 233, 22);
	    	background-color: rgb(179, 22, 244);
	    	line-height: 90px;
	    	opacity: 0.9
	    	flex: 3;
	    	-webkit-flex: 3;
	    	-moz-flex: 3;
	    	-o-flex: 3;
	    	-ms-flex: 3;
	    }

	    .four{
	    	background: rgb(244, 233, 22);
	    	color: rgb(179, 22, 244);
	    	font-size: 70px;
	    	line-height: 90px;
	    	flex: 1;
	    	-webkit-flex: 1;
	    	-moz-flex: 1;
	    	-o-flex: 1;
	    	-ms-flex: 1;
	    }

        .main{
            height: 430px;
            padding-top: 10px;
            overflow: hidden;
        }

	    .content{
	    	width: 100%;
            float: left;
            height: 100%;
	    	border-bottom:3px solid rgba(208, 244, 202, 0.94);
            padding-bottom: 9999px;
            margin-bottom: -9999px;
	    }

        .cobe{
            margin: 0 270px 0 430px;
        }

        .right{
        	width: 270px;
        	height: 100%;
            float: left;
            margin-left: -270px;
        	color: #FFFFFF;
        	background-color: rgba(8, 6, 10, 0.15);
            padding-bottom: 9999px;
            margin-bottom: -9999px;
        }

        .right li{
        	list-style: none;
        }

        .left{
            width: 430px;
            float: left;
            height: 100%;
            margin-left: -100%;
            padding-bottom: 9999px;
            margin-bottom: -9999px;
        }


        .footer img{
        	cursor: pointer;
        	overflow: hidden; 
        	height: 230px;       	
        }

        .footer{
        	display: flex;
            width: 900px;
            justify-content: space-around;
            margin: 0 auto;
        }